*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', 'Lato', sans-serif;
}
.menu{
  width: 1348px;
  height: 70px;
  background: #2c3e50;
  color: white;
  display: table;
}
.menu h1{
 margin-top: 20px;
 margin-left: 80px;
 font-weight: bold;
 font-size: 30px;
}
ol{
   list-style: none;
   top: 12px;
   left: 800px;
   position: absolute;
}
li{  
  display: inline-block;
  padding: 15px;
}
.initial,.about{
  width: 1348px;
  height: 600px;
  background: #18bc9c;
  text-align: center; 
  color: white; 
  position: relative;
}
.image, .contact{
  width: 1348px;
  height: 700px;
  background: white;
  text-align: center; 
  color: black; 
}
.initial img{
  margin-top:100px;
}
.initial h2{
  font-size: 60px;
  font-weight: bold;
}
.initial p{
  font-size: 20px;
  margin-top: 30px;
}
.title{
  width: 1348px;
  height: 30px;
  margin-top: 50px;
  padding: 25px;
  font-size: 20px;
  color: rgb(1, 1, 41);
  text-align: center; 
}
.titleAbout{
  color: white;
  font-weight: bold;
}
.initial hr{
  margin-top: 20px;
  margin-left: 550px;
  background-color: white;
  width: 250px;
  height: 5px;
}
.fa-star{
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -20px;
  position: absolute;
  border: 2px;
  background: #18bc9c;
}

.container{
  width: 1300px;
  height: 500px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}
.image h1{
  margin-top: 30px;
  font-size: 30px;
}
.figure, .picture{
 width: 350px;
 height: 250px; 
 padding: 20px;
 
}
footer{
  width: 1348px;
  height: 300px;
  background: #2c3e50;
  text-align: center; 
  color: white; 
}
.about-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about p{
  text-align: justify;
  width: 250px;
  padding: 20px;
}
.about h1{
  font-size: 40px;
}
.form{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input, textarea{ 
  width: 500px;
  padding: 20px;
  display: block;
  font-size: 20px;  
  size: 100px; 
}

textarea{
  height: 100px;
}
input[type=submit]{
  width: 100px;
  height: 20px;
  background: #18bc9c; 
  margin: 30px;
  color: white;
  text-align: center;
}
hr{
  background-color: rgb(241, 227, 227);
  width: 500px;
  height: 1px;
}
.rodape-container{
  width: 1348px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  
}
.box-one, .box-two, .box-three{
  text-align: center;
  width: 200px;
  height: 30px;
  padding: 100px;
}











